section {
    display: grid;
    grid-gap: 5px;
    margin-bottom: 5px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.orange {
    grid-template-rows: repeat(2, 50px);
}

section.orange>div {
    background-color: #ff9b2e;
}

section.yellow {
    grid-template-rows: 70px;
}

section.yellow>div {
    background-color: #d5e905;
}

section.blue {
    grid-template-rows: repeat(3, 150px);
}

section.blue>div {
    background-color: #3f7ec9;
}

section.silver {
    grid-template-rows: 50px;
}

section.silver>div {
    background-color: #c6c6c6;
}

.mobile-hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    section.yellow {
        grid-template-rows: 140px;
    }

    section.blue {
        grid-template-rows: repeat(3, 70px);
    }

    section.silver {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 70px);
    }

    .mobile-hidden {
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    section.orange {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 60px;
    }

    section.yellow {
        grid-template-rows: 200px;
    }

    section.blue {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px;
    }

    section.silver {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px;
    }
}