* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vw;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 40px) 60px repeat(3, 100px) 40px;
    gap: 10px;

}

.geltona {
    background-color: yellow;
}

.raudona {
    background-color: red;
}

.melyna {
    background-color: blue;
}

.pilka {
    background-color: grey;
}

@media only screen and (min-width: 786px) {
    .container {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, 40px) 120px repeat(3, 60px) repeat(2, 60px);
    }

    .geltona {
        background-color: yellow;
        grid-column: 1/5;
    }


    .raudona {
        background-color: red;
        grid-column: 1/5;
    }

    .melyna {
        background-color: blue;
        grid-column: 1/5;
    }

    .pilka {
        display: none;
    }

    .keturi {
        background-color: grey;
        grid-column: 1/3;
    }

    .keturi2 .keturi3 {
        background-color: grey;
        grid-column: 3/5;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        grid-template-columns: auto auto;
        grid-template-rows: 40px 150px 100px 80px;

    }



}