*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  nav{
  display: flex;
  padding: 30px;
  }
  .nav-links{
  display: none;
  }
  .logo{
  height: 70px;
  object-fit: cover;
  }
  .menu-btn{
  font-size: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 8px;
  }
  .img-block{
  display: grid;
  grid-template-columns: 300px 300px ;
  grid-template-rows:repeat(5, 350px) ;
  justify-content: center;
  gap: 50px;
  }
  .img-block img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
  @media screen and (min-width: 768px){
  nav{
  justify-content: space-between;
  margin: 20px 0;
  }
  .nav-links{
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  }
  .menu-btn{
  display: none;
  }
  .nav-items a {
  display: inline-block;
  text-decoration: none;
  margin-top: 13px;
  }
  i{
  display: inline-block;
  text-decoration: none;
  margin-top: 13px;
  margin-right: 15px;
  color: #b6b6b6;
  cursor: pointer;
  }
  li{
  list-style: none;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  }
  .logo{
  height: 40px;
  object-fit: cover;
  }
  button{
  margin-left: auto;
  color: white;
  background-color: #b6b6b6;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  padding: 0 10px;
  }
  a{
  color: #b6b6b6;
  }
  .img-block{
  display: grid;
  grid-template-columns: repeat(3, 200px) ;
  grid-template-rows:300px 300px 300px 300px ;
  justify-content: center;
  align-content: center;
  gap: 50px;
  }
  .foto-ten{
  grid-column: 1/4;
  } 
  .img-block img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
  }
  @media screen and (min-width: 1200px) {
  nav{
  justify-content: space-between;
  margin: 20px 0;
  }
  .nav-links{
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  }
  .menu-btn{
  display: none;
  }
  .nav-items a {
  display: inline-block;
  text-decoration: none;
  margin-top: 27px;
  }
  i{
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 25px;
  color: #b6b6b6;
  cursor: pointer;
  }
  li{
  list-style: none;
  margin-right: 25px;
  font-size: 17px;
  cursor: pointer;
  }
  .logo{
  height: 70px;
  object-fit: cover;
  }
  button{
  margin-left: auto;
  color: white;
  background-color: #b6b6b6;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  padding: 0 20px;
  height: 50px;
  margin-top: 10px;
  }
  a{
  color: #b6b6b6;
  }
  .img-block {
  display: grid;
  grid-template-columns: repeat(4, 250px) ;
  grid-template-rows:300px 300px 300px ;
  justify-content: center;
  align-content: center;
  gap: 50px;
  }
  .foto-ten{
  grid-row-start: 4;
  grid-row-end: -2;
  }
  .img-block {
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
  }