*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  nav{
  display: flex;
  padding: 30px;
  }
  .nav-links{
  display: none;
  }
  .logo{
  height: 70px;
  object-fit: cover;
  }
  .menu-btn{
  font-size: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 8px;
  }
  .img-block{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows:repeat(5, 350px) ;
  justify-content: center;
  gap: 50px;
  }
  .img-block img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
  @media screen and (min-width: 768px){
  nav{
  margin: 20px 0;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  justify-content: space-between;
  }
  .nav-links{
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  }
  .menu-btn{
  display: none;
  }
  .nav-items a {
  display: inline-block;
  text-decoration: none;
  margin-top: 13px;
  }
  i{
  display: inline-block;
  text-decoration: none;
  margin-top: 13px;
  margin-right: 15px;
  color: #b6b6b6;
  cursor: pointer;
  }
  li{
  list-style: none;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  }
  .logo{
  height: 40px;
  object-fit: cover;
  }
  button{
  margin-left: auto;
  color: white;
  background-color: #b6b6b6;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  padding: 0 10px;
  }
  button:hover{
  background-color: transparent;
  color: #b0afaf;
  border: 1px black solid;
  }
  a{
  color: #b6b6b6;
  }
  .img-block{
  display: grid;
  grid-template-columns: repeat(3, 28.5%) ;
  grid-template-rows:300px 300px 300px 300px ;
  justify-content: center;
  align-content: center;
  gap: 30px;
  }
  .foto-ten{
  grid-column: 1/4;
  } 
  .img-block img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
  }
  @media screen and (min-width: 1200px) {
  nav{
  margin: 20px 0;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  justify-content: space-between;
  }
  .nav-links{
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  }
  .menu-btn{
  display: none;
  }
  .nav-items a {
  display: inline-block;
  text-decoration: none;
  margin-top: 27px;
  }
  i{
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 25px;
  color: #b6b6b6;
  cursor: pointer;
  }
  li{
  list-style: none;
  margin-right: 25px;
  font-size: 17px;
  cursor: pointer;
  }
  .logo{
  height: 70px;
  object-fit: cover;
  }
  button{
  margin-left: auto;
  color: white;
  background-color: #b6b6b6;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  padding: 0 20px;
  height: 50px;
  margin-top: 10px;
  margin-right: 20px;
  }
  button:hover{
  background-color: transparent;
  color: #b0afaf;
  border: 1px black solid;
  }
  a{
  color: #b6b6b6;
  }
  .img-block {
  display: grid;
  grid-template-columns: repeat(5, 15.7%) ;
  grid-template-rows:200px 200px ;
  justify-content: center;
  align-content: center;
  gap: 40px;
  }
  .foto-ten{
  grid-column: 5/-1;
  }
  .img-block {
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
  }
  /* dropdown */
  .navbar ul li
  {
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
  }
  .navbar ul li a
  {
  color: #b6b6b6;
  }
  .navbar ul li ul
  {
  display: none;
  }
  .navbar ul li:hover ul
  {
  display: block;
  position: absolute;
  background: #ffffff;;
  border-radius: 5px;
  width: 100%;
  }
  .fa-caret-down{
  margin-right: 0px;
  }