/* section{
    background-color: red;
}
.leftcolumn{
    background-color: black;
}
section1 {
    background-image: url("8batai.jpeg");
    background-position: center;
    background-size: cover;
} */
section1{
    background-image: url("https://via.placeholder.com/150/300AAA");
    background-position: center;
    background-size: cover;
}
